@media screen and (max-width: 768px)
/* and (min-width: 320px) */
{
    .navbar h1
    {
        font-size: 1.3em;
    }

    .navbar ul
    {
        width: 100%;
        height: 0%;
        overflow: hidden;
        position: absolute;
        top: 80px;
        left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: rgba(0, 0, 0, 0.53);
        backdrop-filter: blur(20px);
        transition: all 0.5s ease;
    }

    .navbar ul.show
    {
        height: 40%;
    }

    .navbar ul li
    {
        margin: 20px 0;
        display: block;
    }

    .navbar ul li a
    {
        /* color: var(--bg-color); */
        font-weight: bold;
    }

    .navbar i
    {
        display: inline-block;
        font-size: 1.5em;
    }

    .navbar #close
    {
        display: none;
    }

    /* ===================================================
                start Hero section
    ===================================================  */

    section
    {
        height: auto;
    }

    .container
    {
        max-width: 768px;
        min-height: 320px;
        margin-top: 30px;
        margin-bottom: 30px;
        grid-template-columns: repeat(1,1fr);
        display: block;
        display: flex;
        flex-direction: column-reverse;
    }

    .item-1
    {
        padding: 20px;
    }

    .item-1>h1
    {
        font-size: 2em;
    }

    .item-1>p
    {
        font-size: 1em;
    }



    .item-2>img
    {
        width: 100%;
    }

}

@media screen and (max-width: 1200px)
{

    .navbar>h1
    {
        font-size: 1.8em;
    }

    .navbar ul li
    {
        margin-right: 10px;
    }

    .navbar ul li a
    {
        font-size: 0.8em;
    }


    .container
    {
        max-width: 1200px;
        grid-template-columns: 1.3fr 1fr;
    }

    .item-1
    {
        padding: 20px;
    }

    .item-1>h1
    {
        font-size: 2em;
    }

    .item-1>p
    {
        font-size: 0.8em;
    }

    .item-1>a
    {
        font-size: 0.8em;
    }

    .item-2>img
    {
        width: 100%;
    }
    
}