
/* ===================================================
        Resnponsive For Mobile an tab Max Width 1000px
===================================================  */

@media screen and (max-width: 1000px)
/* and (min-width: 320px) */
{
    #logo
    {
        width: 20%;
    }

    .navbar ul
    {
        width: 100%;
        height: 0%;
        overflow: hidden;
        position: absolute;
        top: 80px;
        left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: rgba(0, 0, 0, 0.53);
        backdrop-filter: blur(20px);
        transition: all 0.5s ease;
    }

    .navbar ul.show
    {
        height: 40%;
    }

    .navbar ul li
    {
        margin: 20px 0;
        display: block;
    }

    .navbar ul li a
    {
        font-weight: bold;
    }

    #icon
    {
        display: inline-block;
        font-size: 1.5em;
    }
    
    /* ===================================================
                start Hero section
    ===================================================  */

    section
    {
        height: auto;
        padding: 40px 0 40px 0;
    }

    .container
    {
        max-width: 768px;
        min-height: 320px;
        grid-template-rows: repeat(2,1fr);
        display: flex;
        flex-direction: column-reverse;
    }

    .item-1
    {
        /* grid-column-start: 1;
        grid-column-end: 3; */
        /* background: rebeccapurple; */
    }

    .item-2
    {
        /* background: gold; */
    }

    .item-1
    {
        padding: 20px;
    }

    .item-1 h1
    {
        font-size: 2em;
    }

    .item-1 p
    {
        font-size: 1em;
        line-height: 2;
    }

    .item-2 img
    {
        width: 70%;
    }
}

