*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

    /* ===================================================
                CSS Variables
    ===================================================  */

    :root
    {
        --bg-color: #212121;
        --theme-color: orange;
    }

    /* ===================================================
                start Header Menu
    ===================================================  */

header
{
    background: var(--bg-color);
    height: 80px;
    display: grid;
    place-items: center;
}

.navbar
{
    width: 85%;
    max-width: 1400px;
    color: #fff;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar ul li
{
    list-style: none;
    display: inline-block;
    margin-right: 30px;
}

.navbar ul li a
{
    text-decoration: none;
    color: #fff;
    transition: all 0.3s ease;
}

.navbar ul li a:hover
{
    color: var(--theme-color);
    font-weight: bold;
    background: whitesmoke;
    padding: 10px 18px;
    border-radius: 5px;
}

.navbar i { display: none;}

 /* ===================================================
                start Hero section
    ===================================================  */

section
{
    background: var(--bg-color);
    height: 90vh;
    display: grid;
    align-items: center;
}

.container
{
    width: 90%;
    max-width: 1400px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* grid-template-columns: 2fr 1fr; */
    column-gap: 20px;
    row-gap: 20px;
    border: 3px solid var(--theme-color);
}

/*  */

.items
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    color: #fff;
}

.item-1
{
    padding-left: 40px;
}

.item-1 h1 
{
    margin-bottom: 20px;
    text-transform: capitalize;
    font-size: 2.5em;
}

.item-1 h1 span
{
    color: var(--theme-color);
    text-shadow: 0 0 5px var(--theme-color);
    text-transform: uppercase;
    /*/// font-family: 'Tangerine', serif */
}

.item-1 p
{
    margin-bottom: 20px;
    text-align: justify;
    line-height: 1.5;
    text-transform: capitalize;
}

.item-1 a
{
    text-decoration: none;
    text-transform: uppercase;
    background: whitesmoke;
    color: var(--bg-color);
    display: inline-block;
    padding: 12px 20px;
    font-weight: bold;
    transition: all 0.3s ease;
}

.item-1 a:hover
{
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
    color: whitesmoke;
    background: var(--bg-color);
}

.item-1 a:active
{
    background: green;
}

.item-2
{
    justify-self: center;
}